<html>
    <head>
        <title>About Cutemaniac</title>
    </head>
    <body>
        <div>
            <h1><a href="/"></a>Cutemaniac´s Blog</a></h1>
        </div>

        <div>
            <strong>MU!Funcionou!</strong>
            <h2><a href="">About Myself</a></h2>
            <p>Gosto de assistir séries em maratona e de cultivar plantas. Li um estudo que indica que o verde das plantas ajuda a diminuir o estresse e a desenvolver a organização no ambiente de trabalho e lazer.</p>
            <p>publicado: 4.11.2020, 23:05</p>
        </div>

        <div>
            <h2><a href="">My Aspirations</a></h2>
            <p>Meu sonho é me tornar uma Biotecnóloga de sucesso e fazer novas descobertas na área da Genética, pela qual sou apaixonada. Ainda não decidi se vou trabalhar principalmente com Plantas ou Animais, mas sou fascinada pela genética humana e estudos sobre clonagem.</p>
            <p>publicado: 4.11.2020, 23:15</p>
        </div>
    </body>
 </html>